Tere 3 conversation ending words

Thing you hate the most about our conversations

Happppyiest Birthdayy Ronniee....
Kaha se likhna shuru karu pata nai but I realllly realllly want to thank you for alll the mental support and help teen saaal me and mera itna pakanaa sehen karna.....
Also hameshhaaa itnaaa motivatee karneee patla hone ke lie, mera athletics start karwanee and many moree thingss
I couldnt tell ki mai tere jaise dost ke karann kitnaaaa enjoyy kiya hu merii college lifeee.... I remember appan baat karna chemistry ki lab me chalu kiye the regarding Athletics coz uk me athlete hu....
then vo slope vagare pe meri crush ki baate karna...then aise apan best friendss bane...prabalgad and all....then mast raat raat tak vo astronomy ki baate and all , teachers ki bitching, logo ki bitching, mera dukh sunte rehna and all and kasam se mera life ka kisi friend ke ghar me rukne ka first experience tha tere ghar aaya vo....itnaaaa maaaaza aayaa me naii bol saktaa...

Sach bolu mereko tereko bor hota hai to bhi call lagake pakane me bohot maza aata hai and voice note bhejne me aur jyadaaa....Also haa 'h' is for 'hai'(agar yaad aaya to)
Also i remember tereko bor hota hai and all to bhii tu mereko corona hua tha tab rozzzzz call karta tha and kasam se har baar itnaaa ahchcha lagta hai ki I cant expresss... 
Me har baar ye sochta hu ki me saala ladkiyo ke piche bhaagta rehta hu but mere itne jyada ahchce and itni care karne vale dost hai....

I literally pray ki terekoo abhi jitna paisa hai uska 10 timess kamayee....apan baadme foreign me villa billa le, mast tripss jaeee, teri(and probably meri) masttt bodyy baneee....ekdumm hot foreigner girlfriend hoo(ye bhi dono ki) and jitnaaa chaiyee utnaa kha sake jindagi bhar
Achchhce se GRE prepare kar and then US me settle ho ahchce se, then me aata tere ghar rehke MS karnee...
Abhi fatafat isolation khatam karr and then partyyy karr....and hume bhi dede...meri pichle saal ki party pending hai teri denekii😂😂

Happpppy birthdayy once again and abhiiii tuu ye sab corona khatam hote hi tu meree ghar aara hai rehnee
Chal ab bohot taareef ho gyi....website band kar and sone jaaaa...

Sorrrry jyada soch nai paaya and kar nai paayaa cozz yee of somaiyaa asignments shitt...but I hope you liked itt☺