<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
    <style>
      .cont{
        display: grid;
        grid-template-columns: auto auto auto;
        padding:0px 200px;
        margin:100px;
        grid-gap:40px;
      }

      .pic{
        border:5px white solid;
        height:500px;
        width:250px;
      }
       
    </style>
</head>
<body style="background-color:#A11E1E; color:white; font-size:30px;">
 <center> <h1 stlye="color:white">Some Phati Purani Memories</h1></center>
            <center><div ><video style="border:5px white solid" width="600" height="300" controls autoplay>
              <source src="../media/ronak.mp4" type="video/mp4">
            </video></center>
          <div class="cont">
            <div class="pic"><img src="../media/goKorona.jpg" alt="" height='500px' width='250px'></div>
            <div class="pic" style="border:5px white solid;height:500px;width:250px;"><img src="../media/pole.jpg" alt=""  height='500px' width='250px'></div>
            <div class="pic" style="border:5px white solid;height:500px;width:250px;"><img src="../media/donak.jpg" alt="" height='500px' width='250px'></div>
            <div class="pic" style="border:5px white solid;height:500px;width:250px;"><img src="../media/creative.jpg" alt="" height='500px' width='250px'></div>
            <div class="pic" style="border:5px white solid;height:500px;width:250px;"><img src="../media/creative2.jpg" alt="" height='500px' width='250px'></div>
            <div class="pic" style="border:5px white solid;height:500px;width:250px;"><img src="../media/creative3.jpg" alt="" height='500px' width='250px'></div>
          </div>
      
      
</body>
</html>